.button{
    font-size: 25px;
    border: none;
    background-color: white;
}

.table{
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
}

.table tbody tr td {
    padding-left: 45px; /* Ajuste o valor conforme necessário */

}

.button{
   margin-left: 200px;
}
