
.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.box {
    background-color: #ECE9EC;
    border-radius: 10px;    
    margin: 40px;
    width: 700px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 60px 50px;
    display: flex; /* Adicione a propriedade display */
    flex-direction: column; /* Adicione a propriedade flex-direction */
    align-items: center; /* Adicione a propriedade align-items */
}

#name{
    font-weight: bolder;
    
}

.camp{
    display: flex;
    justify-content: center; /* Alinhe os campos ao centro */
    padding-top: 30px;
    gap: 28px;
   
    
}


.pass{
    display: inline;
    
}

.input{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.parce{
    font-weight: bolder;
}
.parc{
    width: 20px;
    margin-bottom: 0;
    font-weight: bolder;
    width: 550px;
}

.descc{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.inputName{
    width: 250px
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.botao_enviar{
    background-color: #009C86;
    border: 1px solid #009C86;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
    margin-right: 30px;
}
.botao_cancel{
    background-color: #6c757d;
    border: 1px solid  #6c757d;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
}

.botoes{
    display: flex;
    justify-content: end;
}

#name2{
    font-weight: bolder;
    width: 550px;
    height: 250px;
    display: flex;
    justify-content: start;

}

/* AddPanel.module.css */

/* Adicione estilos para o fundo embaçado (blur) */
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    backdrop-filter: blur(5px); /* Efeito de blur */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para o contêiner do CardConfirm */
  .card-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Outros estilos necessários para o CardConfirm */
  




/* ... (seu código existente) ... */

@media screen and (max-width: 1200px) {
    .box {
        width: 80%;
        margin: 10px;
    }

    .form {
        margin: 20px 10px;
    }

}

@media screen and (max-width: 600px) {
   
    .box {
        width: 100%;
    }

    .form {
        margin: 10px 5px;
    }
    
    .parc{
        width: 20px;
        margin-bottom: 0;
        font-weight: bolder;
        width: 400px;
    }
    
    .descc{
        height: 200px;
        width: 400px;
    }
    
    .inputName{
        width: 185px
    }

    .input{
        width: 400px;
    }
}

@media screen and (min-width: 600px) and  (max-width: 1200px) {
   
    .box {
        width: 100%;
    }

    .form {
        margin: 10px 5px;
    }
    
    .parc{
        width: 20px;
        margin-bottom: 0;
        font-weight: bolder;
        width: 400px;
    }
    
    .descc{
        height: 200px;
        width: 400px;
    }
    
    .inputName{
        width: 185px
    }

    .input{
        width: 400px;
    }
}